<ion-header [translucent]="true">
  <ion-toolbar class="bar">
    <ion-title id="title">
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 id="title">Login or logout securely with Google!</h1>
  <ion-content padding>

    <ion-card *ngIf="user">
      <ion-img [src]="user.photoURL"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>{{user.email}}</ion-card-subtitle>
        <ion-card-title>{{user.displayName}}</ion-card-title>
        
      </ion-card-header>
      <ion-card-content>
        <ion-button (click)="logout()" expand="full" color="danger" >Logout</ion-button>
      </ion-card-content>
    </ion-card>

      <ion-content padding>
        <form *ngIf="!user" [formGroup]="loginForm" (submit)="login()">
        <ion-row>
          <ion-col> 
            <ion-button type="submit" color="success" (click)="login()" expand="full" >Login with Google</ion-button>
          </ion-col>
        </ion-row>
    </form>
  

    
  </ion-content>
  </ion-content>

</ion-content>
