<ion-header>
  <ion-toolbar class="bar">
    <ion-title class="title">Add a Recipe</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="title"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-content padding>
    <div class="background-img">
      <div class="background-cover">
    <!-- <ion-searchbar showCancelButton="focus"></ion-searchbar> -->
    <ion-card-header>
      <ion-card-title>
        Add New Recipe
        <ion-card-subtitle>
          Create <span class="Subtitle">Own Recipe!</span> 
        </ion-card-subtitle>
      </ion-card-title>
    </ion-card-header>
    
    <form [formGroup]="createRecipeForm" (submit)="createRecipe()">
      <ion-item>
        <ion-label stacked>Recipe Name</ion-label>
        <ion-input
          formControlName="recipeName"
          type="text"
          placeholder="What's this recipe called?"
        >
        </ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label stacked>Region</ion-label>
        <ion-input
          formControlName="region"
          type="text"
          placeholder="Where is this recipe from?"
        >
        </ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label stacked>Time to cook</ion-label>
        <ion-input
          formControlName="timeToCook"
          type="text"
          placeholder="How long does it take to cook?"
        >
        </ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label stacked>Ingredients</ion-label>
        <ion-textarea
          formControlName="ingredients"
          type="text"
          placeholder="What are the ingredients"
        >
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label stacked>Instructions</ion-label>
        <ion-textarea
          formControlName="instructions"
          type="text"
          placeholder="What are the instructions"
          autogrow=true
          id="instructions"
        >
        </ion-textarea>
      </ion-item>
  
      <ion-button type="submit" [disabled]="!createRecipeForm.valid">
        <ion-icon name="add-outline"></ion-icon>
        Add Recipe
      </ion-button>
    </form>
  </div>
  </div>
  </ion-content>
</ion-content>
