<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>All Recipes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="save-outline"></ion-icon>
      <ion-label>Saved Recipes</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="tab3">
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>
    
    
  </ion-tab-bar>

</ion-tabs>
