<ion-header [translucent]="true">
    <ion-toolbar class="bar">
      <ion-title id="title">
        Your Saved Recipes
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-content padding>
      <div class="background-img">
      <div class="background-cover">
        <ion-card-header>
          <ion-card-title>
           Your saved recipes.
          <ion-card-subtitle>
               <span class="Subtitle">Favourite</span> Recipes 
            </ion-card-subtitle>
          </ion-card-title>
        </ion-card-header>
    <!-- <h1 id="title">Below is a list of your saved recipes.</h1> -->
    <ion-item
      *ngFor="let recipe of savedRecipe | async"
      routerLink="/detail/{{recipe.recipe}}"
      detail="true"
    >
    <ion-label>
      <ion-card>
        <ion-card-header>
          <ion-card-title class="nameOfRecipe">
            Name: {{ recipe.name}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle>
            <!-- <p>Takes {{ recipe.time }} to cook this.</p> -->
            <ion-icon name="timer"></ion-icon>
            <span class="timeLableOfRecipe">It will take: </span>
              <span  class="timeCookingOfRecipe">{{ recipe.time }}</span>
          </ion-card-subtitle>
        </ion-card-content>

      </ion-card>
    </ion-label>
    </ion-item>
  </div>
  </div>
  </ion-content>


</ion-content>
